{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module"
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": [
            "off"
        ],
        "@typescript-eslint/no-empty-function": [
            "off"
        ]
        // "prettier/prettier": [
        //     "error",
        //     {
        //         "trailingComma": "ES6",
        //         "singleQuote": true,
        //         "endOfLine": "auto",
        //         "printWidth": 100,
        //         "tabWidth": 4,
        //         "semi": true
        //     }
        // ]
    }
    // "plugins": [
    //     "prettier"
    // ]
}
